	/* -- General -- */

p, ul, li {font-family:sans-serif}
h1 {font-family:"Rockwell",serif;color:#0000AA;font-size:36px;}
h2 {font-family:"Rockwell",sans-serif}
a {color:#0000AA}
a:visited {color:#AA00AA}
	
	
	/* -- Classes -- */	
		
.box {
	width:30%;
	text-align:center;
	background:#AAAAFF;
	border: 5px solid #0000AA;
	padding:10px;
	margin:10px;
	}
	
.btn{
	background:#AAAAFF;
	border: 5px solid #0000AA;
	text-align: center;
	display:inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
